@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Reference_Aids.ViewModels.ListForImportAnalyzes

@{
    Layout = "_Layout";
}
<div class="container">
    <datalist id="type_analyzes_list">
        @foreach (var item in Model.ListTypeAnalyzes)
        {
            <option>@item</option>
        }
    </datalist>
    <datalist id="test_system_list">
        @foreach (var item in Model.ListTestSystems)
        {
            <option>@item.TestSystemName</option>
        }
    </datalist>
    <form class="needs-validation" novalidate asp-controller="ImportAnalyzes" asp-action="RoutingForPhotometrAnalyzes" method="post">
        <label>Импорт Фотометр</label>
        <div class="row g-0">
            <div class="col-sm-3">
                <label>Тип анализа</label>
                <input type="text" class="form-control" list="type_analyzes_list" name='_typeAnalyzes'>
            </div>
            <div class="col-sm-3">
                <label>Тест система</label>
                <input type="text" class="form-control" list="test_system_list" name='_testSystem'>
            </div>
            <div class="col-sm-3">
                <label>Номер отчета</label>
                <input type="text" class="form-control" name='_reportId'>
            </div>
            <div class="col-sm-3">
                <label>Год рег. номера</label>
                <input type="text" class="form-control" name='_dateId' value="@DateTime.Now.Year">
            </div>
            <div class="col-sm-3" style="visibility: hidden">
                <label>123</label>
                <input type="submit" class="btn btn-outline-success btn-sm" value="" />
            </div>
        </div>
    </form>
    <form class="needs-validation" novalidate asp-controller="ImportAnalyzes" asp-action="RoutingForBlotAnalyzes" method="post">
        <label>работа с ИБ</label>
        <div class="row g-0">
            <div class="col-sm-3">
                <label>Количество строк</label>
                <input type="text" class="form-control" name='_countRow'>
            </div>
            <div class="col-sm-3">
                <label>Тест система</label>
                <input type="text" class="form-control" list="test_system_list" name='_testSystem'>
            </div>
            <div class="col-sm-3">
                <label>Срок годности</label>
                <input type="date" class="form-control" name='_date'>
            </div>
            <div class="col-sm-3">
                <label>Год рег. номера</label>
                <input type="text" class="form-control" name='_dateId' value="@DateTime.Now.Year">
            </div>
            <div class="col-sm-3" style="visibility: hidden">
                <label>123</label>
                <input type="submit" class="btn btn-outline-success btn-sm" value="Отправить" />
            </div>
        </div>
    </form>
    <form class="needs-validation" novalidate asp-controller="ImportAnalyzes" asp-action="RoutingForPcrAnalyzes" method="post">
        <label>Импорт ПЦР</label>
        <div class="row g-0">
            <div class="col-sm-2">
                <label>Рег. номер с</label>
                <input type="text" class="form-control" name='_numIfaStart'>
            </div>
            <div class="col-sm-2">
                <label>Рег. номер по</label>
                <input type="text" class="form-control" name='_numIfaEnd'>
            </div>
            <div class="col-sm-2">
                <label>Тест система</label>
                <input type="text" class="form-control" list="test_system_list" name='_testSystem'>
            </div>
            <div class="col-sm-2">
                <label>Дата</label>
                <input type="date" class="form-control" name='_date'>
            </div>
            <div class="col-sm-3">
                <label>Год рег. номера</label>
                <input type="text" class="form-control" name='_dateId' value="@DateTime.Now.Year">
            </div>
            <div class="col-sm-3" style="visibility: hidden">
                <label>123</label>
                <input type="submit" class="btn btn-outline-success btn-sm" value="Отправить" />
            </div>
        </div>
    </form>
</div>