@model IEnumerable<Reference_Aids.Models.ListTestSystem>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_LayoutList";
}

<div class="container">
    <form class="needs-validation" novalidate method="post" >
        <div class="row g-0">
            <div class="col-sm-1">
                <label for="firstName" class="form-label"><font style="vertical-align: inherit;">Id</font></label>
            </div>
            <div class="col-sm-3">
                <label for="lastName" class="form-label"><font style="vertical-align: inherit;">Name+Series</font></label>
            </div>
        </div>
    </form>

    @foreach (var item in Model) {
        <form class="needs-validation" novalidate asp-controller="ListTestSystems" asp-action="Update" method="post"  asp-route-id="@item.TestSystemId">
            <div class="row g-0">
                <div class="col-sm-1">
                    <input type="text" class="form-control" name='TestSystemId' value="@item.TestSystemId">
                </div>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name='TestSystemName' value="@item.TestSystemName">
                </div>
                <div class="col-sm-3">
                    <input type="date" class="form-control" name='DTestSystemShelfLife' value="@item.DTestSystemShelfLife.ToString("yyyy-MM-dd")">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 d-grid gap-2 d-md-block">
                    <a class="btn btn-outline-danger btn-sm" asp-controller="ListTestSystems" asp-action="Delete" asp-route-id="@item.TestSystemId">Удалить</a>
                    <input type="submit" class="btn btn-outline-success btn-sm" value="Редактировать" />
                </div>
            </div>
        </form>
    }
    
    <form class="needs-validation" novalidate asp-controller="ListTestSystems" asp-action="Create" method="post">
        <div class="row g-0">
            <div class="col-sm-1">
                <input type="text" class="form-control" name="TestSystemId" value="">
            </div>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="TestSystemName" value="">
            </div>
            <div class="col-sm-3">
                    <input type="date" class="form-control" name='DTestSystemShelfLife'>
                </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2 d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-outline-success btn-sm">добавить</button>
            </div>
        </div>
    </form>
</div>
