@model Reference_Aids.ViewModels.ListForPatientCardViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<div class="container">
    <datalist id="send_lab_list">
        @foreach (var item in Model.ListSendLabs)
        {
            <option>@item.SendLabName</option>
        }
    </datalist>
    <datalist id="test_system_list">
        @foreach (var item in Model.ListTestSystems)
        {
            <option>@item.TestSystemName</option>
        }
    </datalist>
    <datalist id="send_district_list">
        @foreach (var item in Model.ListSendDistricts)
        {
            <option>@item.SendDistrictName</option>
        }
    </datalist>
    <datalist id="category_list">
        @foreach (var item in Model.ListCategories)
        {
            <option>@item.CategoryId</option>
        }
    </datalist>
    <datalist id="quality_serum_list">
        @foreach (var item in Model.ListQualitySerums)
        {
            <option>@item.QualitySerumName</option>
        }
    </datalist>
    <br>
    <div class="row g-0" >
        <div class="col-sm-3">
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Ид пациента(Auto)" type="text" class="form-control" name="PatientId" value=@Model.TblPatientCards[0].PatientId >
            </div>
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Фамилия" type="text" class="form-control" name='FirstName' value=@Model.TblPatientCards[0].FamilyName>
            </div>
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Имя" type="text" class="form-control" name='FamilyName' value=@Model.TblPatientCards[0].FirstName>
            </div>
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Отчество" type="text" class="form-control" name='ThirdName' value=@Model.TblPatientCards[0].ThirdName>
            </div>
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Дата рождения" type="date" class="form-control" id="date" name='BirthDate' value=@Model.TblPatientCards[0].BirthDate.ToString("yyyy-MM-dd")>
            </div>
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Пол" type="text" class="form-control" name='SexId' value=@Model.TblPatientCards[0].SexName()>
            </div>
            <div class="col-sm-10" style="margin-bottom: 7px">
                <input disabled placeholder="Телефон" type="text" class="form-control" name='PhoneNum' value=@Model.TblPatientCards[0].PhoneNum>
            </div>
        </div>
        <div class="col-sm-9" > 
            <label>Обл блот</label>
            <table class="table table-bordered table-blot" style="margin-bottom: 0px">
                <thead>
                    <tr>
                        <th scope="col" width="150px">Дата блота</th>
                        <th scope="col" width="170px">Тест система</th>
                        <th scope="col" width="170px">Отпр. лаб.</th>
                        <th scope="col" width="170px">Кем напрв.</th>
                        <th scope="col" width="70px">Cut off</th>
                        <th scope="col" width="92px">Результат</th>
                        <th scope="col" width="80px">КП</th>
                    </tr>
                </thead>
            </table>
            <div style="overflow-x: auto; height: 210px">
                <form class="needs-validation" novalidate asp-controller="RegIncBloods" asp-action="CreateDistrictBlot" method="post">
                    <table class="table table-bordered table-blot">
                        <tbody>                    
                            @foreach (var item in Model.TblDistrictBlots)
                            {
                                <tr>
                                    <td width="150px"><input type="date" class="form-control tbl-input" name='' value=@item.DBlot.ToString("yyyy-MM-dd") disabled></td>
                                    <td width="170px"><input type="text" class="form-control tbl-input" name='' value="@item.TestSystemName()" disabled></td>
                                    <td width="170px"><input type="text" class="form-control tbl-input" name='' value="@item.SendDistrictName()" disabled></td>
                                    <td width="170px"><input type="text" class="form-control tbl-input" name='' value="@item.SendLabName()" disabled></td>
                                    <td width="70px"><input type="text" class="form-control tbl-input" name='' value="@item.CutOff" disabled></td>
                                    <td width="92px"><input type="text" class="form-control tbl-input" name='' value="@item.BlotResult" disabled></td>
                                    <td width="80px"><input type="text" class="form-control tbl-input" name='' value="@item.BlotCoefficient" disabled></td>
                                </tr>
                            }
                            <tr>
                                <td width="150px"><input type="date" class="form-control tbl-input" name='DBlot'></td>
                                <td width="170px"><input type="text" class="form-control tbl-input" list="test_system_list" name='TestSystemId'></td>
                                <td width="170px"><input type="text" class="form-control tbl-input" list="send_district_list" name='SendDistrictId'></td>
                                <td width="170px"><input type="text" class="form-control tbl-input" list="send_lab_list" name='SendLabId'></td>
                                <td width="70px"><input type="text" class="form-control tbl-input" name='CutOff'></td>
                                <td width="92px"><input type="text" class="form-control tbl-input" name='BlotResult'></td>
                                <td width="80px"><input type="submit" class="btn btn-outline-success btn-sm" value="              "/></td>
                                <td hidden><input type="text" class="form-control tbl-input" name='PatientId' value="@Model.TblPatientCards[0].PatientId"></td>
                            </tr>
                        </tbody>
                    </table>
                </form> 
            </div>
        </div>
        <div class="row g-0" >
            <div class="col-sm-2" style="margin-right: 12px">
                <input disabled placeholder="Регион" autocomplete="fals" type="text" class="form-control" name='RegionId' value=@Model.TblPatientCards[0].RegionName()>                    
            </div>
            <div class="col-sm-2" style="margin-right: 12px">
                <input disabled placeholder="Город" autocomplete="fals" type="text" class="form-control" name='CityName' value=@Model.TblPatientCards[0].CityName>
            </div>
            <div class="col-sm-2" style="margin-right: 12px">
                <input disabled placeholder="Населённый пункт" autocomplete="fals" type="text" class="form-control" name='AreaName' value=@Model.TblPatientCards[0].AreaName>
            </div>
            <div class="col-sm-2" style="margin-right: 62px">
                <input disabled placeholder="Улица" type="text" autocomplete="fals" class="form-control" name='AddrStreat' value=@Model.TblPatientCards[0].AddrStreat>
            </div>
            <div class="col-sm-1" style="margin-right: 5px">
                <input disabled placeholder="Дом" type="text" class="form-control" name='AddrHome' value=@Model.TblPatientCards[0].AddrHome>
            </div>
            <div class="col-sm-1" style="margin-right: 5px">
                <input disabled placeholder="Корп." type="text" class="form-control" name='AddrCorps' value=@Model.TblPatientCards[0].AddrCorps>
            </div>
            <div class="col-sm-1">
                <input disabled placeholder="Кв." type="text" class="form-control" name='AddrFlat' value=@Model.TblPatientCards[0].AddrFlat>
            </div>
        </div>
        <div class="row g-0" style="margin-top: 1rem">
            <textarea placeholder="Комментарий" name="PatientCom" autocomplete="fals" cols="100" rows="3" disabled>@Model.TblPatientCards[0].PatientCom</textarea>
        </div> 
    </div>
    <br>
    <div class="row g-0">
        <form class="needs-validation" novalidate asp-controller="RegIncBloods" asp-action="CreateIncomingBlot" method="post"  asp-route-id="">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Рег. ном.</th>
                        <th scope="col">Ном. в списке</th>
                        <th scope="col">Дата поступления</th>
                        <th scope="col">Дата забора крови</th>
                        <th scope="col">Лаборатория</th>
                        <th scope="col">Кем напр.</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Качество сывороки</th>
                        <th scope="col">Анон.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TblIncomingBloods)
                    {
                        <tr>
                            <td><input type="text" class="form-control" name='' value=@item.NumIfa disabled></td>
                            <td><input type="text" class="form-control" name='' value=@item.NumInList disabled></td>
                            <td><input type="date" class="form-control" name='' value=@item.DateBloodImport.ToString("yyyy-MM-dd") disabled></td>
                            <td><input type="date" class="form-control" name='' value=@item.DateBloodSampling.ToString("yyyy-MM-dd") disabled></td>
                            <td><input type="text" class="form-control" name='' value="@item.SendLabName()" disabled></td>
                            <td><input type="text" class="form-control" name='' value="@item.SendDistrictName()" disabled></td>
                            <td><input type="text" class="form-control" name='' value="@item.CategoryPatientName()" disabled></td>
                            <td><input type="text" class="form-control" name='' value="@item.QualitySerumName()" disabled></td>
                            <td><input type="checkbox" class="form-check-input" name='' value="" disabled></td>
                            <td><a style="margin-top: 5px" class="btn btn-outline-info btn-sm" asp-controller="RegAnalyzes" asp-action="Index" asp-route-patient_id="@Model.TblPatientCards[0].PatientId" asp-route-blood_id="@item.BloodId">Открыть</a></td>
                        </tr>
                    }
                    <tr>
                        <td><input type="text" class="form-control" name='NumIfa'></td>
                        <td><input type="text" class="form-control" name='NumInList'></td>
                        <td><input type="date" class="form-control" name='DateBloodImport'></td>
                        <td><input type="date" class="form-control" name='DateBloodSampling'></td>
                        <td><input type="text" class="form-control" name='SendLab' list="send_lab_list"></td>
                        <td><input type="text" class="form-control" name='SendDistrict' list="send_district_list"></td>
                        <td><input type="text" class="form-control" name='CategoryPatient' list="category_list"></td>
                        <td><input type="text" class="form-control" name='QualitySerum' list="quality_serum_list"></td>
                        <td><input type="checkbox" class="form-check-input" name='AnonymousPatient'></td>
                        <td hidden><input type="text" class="form-control inputtbl" name='PatientId' value="@Model.TblPatientCards[0].PatientId"></td>
                        <td><input type="submit" class="btn btn-outline-success btn-sm" style="margin-top: 5px" value="Добавить"></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>