@model Reference_Aids.ViewModels.ListForImportPhotometr
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    int i=0;
}
@{
    Layout = "_Layout";
}
<div class="container">
    <br>
    <div class="row g-0" style="">
        <div class="row g-0">
            <div class="col-sm-2">
                <input type="text" class="form-control" name='CategoryId' value="Рег. ном." disabled>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name='CategoryName' value="Тест система" disabled>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name='CategoryName' value="Результат количественный" disabled>
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" name='CategoryName' value="Результат" disabled>
            </div>
        </div>
        <form class="needs-validation" novalidate asp-controller="ImportPhotometr" asp-action="Add" method="post">
            @{
                @foreach (var item in Model.ListPhotometrResult)
            {
                <div class="row g-0">
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name='[@i].PatientId' value="@item.PatientId">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name='[@i].TestSystem' value="@Model.TestSystem">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name='[@i].PatientResult' value="@item.PatientResult">
                    </div>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" name='[@i].Result' value="@item.Result">
                    </div>
                    <div class="col-sm-3" style="visibility: hidden">
                        <label>Год рег. номера</label>
                        <input type="text" class="form-control" name='[@i].dateId' value="@item.DateId">
                    </div>
                    <input type="text" class="form-control" name='[@i].TypeAnalyze' value="@Model.TypeAnalyze" style="visibility: hidden">
                    <input type="text" class="form-control" name='[@i].CutOff' value="@Model.CutOff" style="visibility: hidden">
                </div>
            i++;     
            }
            }
            <div class="row g-0">
                <div class="col-sm-12" style="text-align:right;">
                    <input type="submit" class="btn btn-outline-success btn-sm" value="Зарегистрировать" />
                </div>
            </div>
        </form>
    </div>
</div>