@model Reference_Aids.ViewModels.ListForImportPatient
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}
<div class="container">
    <datalist id="sex_list">
        @foreach (var item in Model.ListSexes)
        {
            <option>@item.SexNameShort</option>
        }
    </datalist>
    <datalist id="region_list">
        @foreach (var item in Model.ListRegions)
        {
            <option>@item.RegionName</option>
        }
    </datalist>
    <datalist id="send_lab_list">
        @foreach (var item in Model.ListSendLabs)
        {
            <option>@item.SendLabName</option>
        }
    </datalist>
    <datalist id="test_system_list">
        @foreach (var item in Model.ListTestSystems)
        {
            <option>@item.TestSystemName</option>
        }
    </datalist>
    <datalist id="send_district_list">
        @foreach (var item in Model.ListSendDistricts)
        {
            <option>@item.SendDistrictName</option>
        }
    </datalist>
    <datalist id="category_list">
        @foreach (var item in Model.ListCategories)
        {
            <option>@item.CategoryName</option>
        }
    </datalist>
    <br>
    <form class="needs-validation" novalidate asp-controller="InputPatients" asp-action="Input" method="post">
        @foreach (var item in Model.Patients)
        {
            <div class="row g-0 background-fond">
                <div class="row g-0">
                    <div class="row g-0">
                        <div class="row g-0 background-dark-row" style="width: 30%;">
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text" >Ид пациента</label>
                                <input placeholder="Ид пациента" autocomplete="fals" type="text" class="form-control tbl-input" style="font-weight: bold; font-size: 1.2rem;" name="[@item.NumPatient].PatienId">
                            </div>
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text" >Ном. в списке</label>
                                <input placeholder="Ном. в списке" autocomplete="fals" type="text" class="form-control tbl-input" style="font-weight: bold; font-size: 1.2rem;" name="[@item.NumPatient].NumInList" value="@item.NumInList">
                            </div>
                            <div class="col-sm" style="margin-bottom: 7px;">
                                <label class="font-color-text">Ном. Ифа</label>
                                <input placeholder="Ном. Ифа" autocomplete="fals" type="text" class="form-control tbl-input" style="font-weight: bold; font-size: 1.2rem;" name="[@item.NumPatient].NumIfa" >
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="row g-0 background-dark-row" style="width: 70%;">
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text">Фамилия</label>
                                <input placeholder="Фамилия" autocomplete="fals" type="text" class="form-control" style="font-weight: bold; font-size: 1.2rem;" name='[@item.NumPatient].FamilyName' value="@item.FamilyName">
                            </div>
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text">Имя</label>
                                <input placeholder="Имя" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].FirstName' value="@item.FirstName">
                            </div>
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text">Отчество</label>
                                <input placeholder="Отчество" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].ThirdName' value="@item.ThirdName">
                            </div>
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text">Дата рождения</label>
                                <input placeholder="Дата рождения" autocomplete="fals" type="date" class="form-control" id="date" name='[@item.NumPatient].BirthDate' value="@item.BirthDate">
                            </div>
                            <div class="col-sm" style="margin-bottom: 7px;">
                                <label class="font-color-text">Пол</label>
                                <input placeholder="Пол" autocomplete="fals" type="text" list="sex_list" class="form-control" name='[@item.NumPatient].Sex' value="@item.Sex">
                            </div>
                        </div>
                    </div>
                    <div class="row g-0">
                        <div class="row g-0 background-dark-row" style="width: 80%;">
                            @*<div class="col-sm-1" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text">Анонимный</label>
                                <input autocomplete="fals" type="checkbox" class="form-check-input" name='[@item.NumPatient].Anon' value="@false">
                            </div>*@
                            <div class="col-sm" style="margin-bottom: 7px; margin-right: 12px">
                                <label class="font-color-text">Телефон</label>
                                <input placeholder="Телефон" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].Phone' value="@item.Phone">
                            </div>
                            <div class="col-sm" style="margin-right: 12px">
                                <label class="font-color-text">Регион</label>
                                <input placeholder="Регион" autocomplete="fals" type="text" list="region_list" class="form-control" name='[@item.NumPatient].RegionName' value="@item.RegionName">
                            </div>
                            <div class="col-sm" style="margin-right: 12px">
                                <label class="font-color-text">Город</label>
                                <input placeholder="Город" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].CityName' value="@item.CityName">
                            </div>
                            <div class="col-sm" style="margin-right: 12px">
                                <label class="font-color-text">Нас. пункт</label>
                                <input placeholder="Нас. пункт" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].AreaName' value="@item.AreaName">
                            </div>
                            <div class="col-sm" style="margin-right: 12px">
                                <label class="font-color-text">Улица</label>
                                <input placeholder="Улица" type="text" autocomplete="fals" class="form-control" name='[@item.NumPatient].AddrStreat' value="@item.AddrStreat">
                            </div>
                            <div class="col-sm-1" style="margin-right: 5px; width: 5%;">
                                <label class="font-color-text">Дом</label>
                                <input placeholder="Дом" type="text" class="form-control" name='[@item.NumPatient].AddrHome' value="@item.AddrHome">
                            </div>
                            <div class="col-sm-1" style="margin-right: 5px; width: 5%;">
                                <label class="font-color-text">Корп.</label>
                                <input placeholder="Корп." type="text" class="form-control" name='[@item.NumPatient].AddrCorps' value="@item.AddrCorps">
                            </div>
                            <div class="col-sm-1" style="margin-right: 5px; width: 5%;">
                                <label class="font-color-text">Кв.</label>
                                <input placeholder="Кв." type="text" class="form-control" name='[@item.NumPatient].AddrFlat' value="@item.AddrFlat">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row g-0">
                        <div class="row g-0 background-dark-row" style="width: 90%;">
                            <div class="col-sm-1" style="margin-right: 12px; width: 11%;  display: none;">
                                <label class="font-color-text">Дата ифа</label>
                                <input placeholder="Дата ифа" autocomplete="fals" type="date" class="form-control" name='[@item.NumPatient].Blotdate' value="@item.DateBloodSampling">
                            </div>
                            <div class="col-sm-1" style="margin-right: 12px; width: 11%;">
                                <label class="font-color-text">Тест система</label>
                                <input placeholder="Тест система" autocomplete="fals" type="text" list="test_system_list" class="form-control" name='[@item.NumPatient].TestSys' value="@item.TestSys">
                            </div>
                            <div class="col-sm-1" style="margin-right: 12px; width: 12%;">
                                <label class="font-color-text">Отпр. лаб.</label>
                                <input placeholder="Отпр. лаб." autocomplete="fals" type="text" list="send_lab_list" class="form-control" name='[@item.NumPatient].SendLab' value="@item.SendLab">
                            </div>
                            <div class="col-sm-1" style="margin-right: 12px; width: 11.5%;">
                                <label class="font-color-text">Кем напрв.</label>
                                <input placeholder="Кем напрв." autocomplete="fals" type="text" list="send_district_list" class="form-control" name='[@item.NumPatient].SendDistrict' value="@item.SendDistrict">
                            </div>
                            <div class="col-sm-1" style="margin-right: 12px; width: 8%;">
                                <label class="font-color-text">Cut off</label>
                                <input placeholder="Cut off" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].CutOff' value="@item.CutOff">
                            </div>
                            <div class="col-sm-1" style="margin-right: 12px; width: 8%;">
                                <label class="font-color-text">Результат</label>
                                <input placeholder="Результат" autocomplete="fals" type="text" class="form-control" name='[@item.NumPatient].Result' value="@item.Result">
                            </div>
                            <div class="col-sm-1" style="margin-right: 12px; width: 11%;">
                                <label class="font-color-text">Кат. пациента</label>
                                <input placeholder="Кат. пациента" autocomplete="fals" type="text" list="category_list" class="form-control" name='[@item.NumPatient].Category' value="@item.Category">
                            </div>
                            <div class="col-sm-1" style="width: 20%;">
                                <label class="font-color-text">Дата забора крови</label>
                                <input placeholder="Дата забора крови" autocomplete="fals" type="date" class="form-control" name='[@item.NumPatient].DateBloodSampling' value="@item.DateBloodSampling">
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-0" style="margin-top: 1rem">
                        <textarea placeholder="Комментарий" name='[@item.NumPatient].PatientCom' autocomplete="fals" cols="100" rows="3"></textarea>
                    </div>
                    <br>
                    <div class="row g-0 background-dark-row" @*style="width: 90%;"*@>
                        <div style="overflow-x: auto; height: 210px">
                            <div class="row g-0">
                                <div class="col-sm font-weight-bold" style="width: 5px; box-sizing: border-box;"><input type="text" class="form-control tbl-input" value="Ид пациента" disabled></div>
                                <div class="col-sm font-weight-bold"><input type="text" class="form-control tbl-input" value="Фамилия" disabled></div>
                                <div class="col-sm font-weight-bold"><input type="text" class="form-control tbl-input" value="Имя" disabled></div>
                                <div class="col-sm font-weight-bold"><input type="text" class="form-control tbl-input" value="Отчество" disabled></div>
                                <div class="col-sm font-weight-bold"><input type="text" class="form-control tbl-input" value="Дата рождения" disabled></div>
                                <div class="col-sm font-weight-bold"><input type="text" class="form-control tbl-input" value="Адрес" disabled></div>
                                <div class="col-sm font-weight-bold"><input type="text" class="form-control tbl-input" value="Комментарий" disabled></div>
                            </div>
                            @{
                                
                                            @foreach (var patient in item.PossiblePatients)
                                {
                                    string adddrFull = "";
                                    try { adddrFull += $"ГО {@patient.AreaName}"; } catch { }
                                    try { adddrFull += $" г.{@patient.CityName}"; } catch { }
                                    try { adddrFull += $" ул.{@patient.AddrStreat}"; } catch { }
                                    try { adddrFull += $" д.{@patient.AddrHome}"; } catch { }
                                    try { adddrFull += $" к.{@patient.AddrCorps}"; } catch { }
                                    try { adddrFull += $" кв.{@patient.AddrFlat}"; } catch { }
                                                <div class="row g-0">
                                                <div class="col-sm" style="width: 5px; box-sizing: border-box;"><input type="text" class="form-control tbl-input" value="@patient.PatientId"></div>
                                                    <div class="col-sm"><input type="text" class="form-control tbl-input" value="@patient.FamilyName" disabled></div>
                                                    <div class="col-sm"><input type="text" class="form-control tbl-input" value="@patient.FirstName" disabled></div>
                                                    <div class="col-sm"><input type="text" class="form-control tbl-input" value="@patient.ThirdName" disabled></div>
                                                    <div class="col-sm"><input type="text" class="form-control tbl-input" value="@patient.BirthDate" disabled></div>
                                                    <div class="col-sm"><input type="text" class="form-control tbl-input" value="@adddrFull" disabled></div>
                                                    <div class="col-sm"><input type="text" class="form-control tbl-input" value="@patient.PatientCom" disabled></div>
                                                </div>
                                }
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <br>
        }
        <div class="row g-0">
            <div class="col-sm-12" style="text-align:right;">
                <input type="submit" class="btn btn-outline-success btn-sm" value="Зарегистрировать" />
            </div>
        </div>
    </form>
</div>